{% extends "layout.html" %}
{% block title %}
    Comment
{% endblock %}


{% block main %}

    <form method=POST enctype=multipart/form-data action="{{ url_for("comment") }}">
        <label for="txtPost">Comment</label>
            <textarea class="form-control" id="txtPost" name="comment" maxlength="1000"></textarea>
        <form action="{{ url_for('homepage') }}" method="post" onsubmit="return value">
            <button name="post" class="btn btn-default" value="post"> Comment </button>
            <button name="cancel" class="btn btn-default" value="cancel">Cancel </button>
        </form>
    </form>

{% endblock %}

