{% extends "layout.html" %}

{% block title %}
    Discover Profile
{% endblock %}

{% block main %}

    <style>
    body{
        background: url("https://i.imgur.com/SoCp2LB.jpg") no-repeat;
        background-size: 100%;
    }
    </style>


    <div>
    {% for picture in pictures %}
        <a><img src="/static/img/{{ picture }}" width="500" height="500"></img></a>
    {% endfor %}
    </div>
    <div>
        <h1>{{ username }}</h1>
        <form action="{{ url_for('discover') }}" method="post" onsubmit="return value">
            <input name="like" type="hidden" value="1">
            <button name="like" class="press" ><img src="/static/hart.png" width="50" height="50"></button>
        </form>
        <form action="{{ url_for('discover') }}" method="post" onsubmit="return value">
            <button name="dislike" class="press" ><img src="/static/kruis.png" width="50" height="50"></button>
        </form>
    </div>

{% endblock %}