{% extends "layout.html" %}

{% block title %}
    Discover Profile
{% endblock %}

{% block main %}

    <div>
    {% for image in images %}
        <a><img src="/static/img/{{ image.path }}" width="500" height="500"></img></a>
    {% endfor %}
        <form action="{{ url_for('discover') }}" method="post" onsubmit="return value">
            <button name="like" class="press" ><img src="/static/hart.png" width="50" height="50"></button>
        </form>
        <form action="{{ url_for('discover') }}" method="post" onsubmit="return value">
            <button name="dislike" class="press" ><img src="/static/kruis.png" width="50" height="50"></button>
        </form>
    </div>

{% endblock %}