{% extends "layout.html" %}

{% block title %}
    Discover Profile
{% endblock %}

{% block main %}

    <div>
    {% for picture in pictures %}
        {% if picture.path.replace("'" , "")[:5] == 'https'  %}
            <a><img src="{{ url_for('getgif', gifje=picture.path.split('/')[4])   }}" width="500" height="500"></img></a>
        {% else %}
            <a><img src="/static/img/{{ picture.path }}" width="500" height="500"></img></a>
        {% endif %}
    {% endfor %}
    </div>
    <div>
        <h1>{{ username }}</h1>
        <form action="{{ url_for('discover') }}" method="post" onsubmit="return value">
            <input name="like" type="hidden" value="1">
            <button name="like" class="press" ><img src="/static/hart.png" width="50" height="50"></button>
        </form>
        <form action="{{ url_for('discover') }}" method="post" onsubmit="return value">
            <button name="dislike" class="press" ><img src="/static/kruis.png" width="50" height="50"></button>
        </form>
    </div>

{% endblock %}
