{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}


{% block main %}
    {% for image in images %}
        <div>

                <img src="/static/img/{{ image.path }}" width="500" height="500"> <br>{{ image.description }}</br> <br> {{ image.username}} </br>
                <form action="{{ url_for('homepage') }}" method="post" onsubmit="return value">
                    <button name="like" class="btn btn-danger" value="{{ image.image_id }}"><img src="/static/hart.png" width="50" height="50"></button>
                </form>
                {{ image.like }} likes
        </div>
        <br>
    {% endfor %}
{% endblock %}

