{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
</script>

{% block main %}
<center>
    <span style="font-size: 35px" class="glyphicon glyphicon-refresh " onClick="history.go(0)" ></span>
    {% for image in images %}
        <div id="wrapper">
            {% if image.path.replace("'" , "")[:5] == 'https'  %}
                <h2 style="font-family: 'Century Gothic'" color="blue"> {{ image.username}} </h2>
                <img src="{{ url_for('getgif', gifje=image.path.split('/')[4])   }}" width="500" height="500">
            {% else %}
                <h2 style="font-family: 'Century Gothic'" color="blue"> {{ image.username}}  </h2>
                <img src="/static/img/{{ image.path }}" width="500" height="500">
                {% if image.description != None %}
                    <div style="width: 300px; overflow: scroll; height: 100px;">
                        <p>{{ image.description }}</p>
                    </div>
                {% endif %}
            {% endif %}

        <br><br>
        <input type="button" id="like{{ image.image_id }}" class="btn btn-danger btn-sm" value="{{ image.likes }}"> likes </button>
        <form action="{{ url_for('homepage') }}" method="post" onsubmit="return value">
            <button name="comment" class="btn btn-primary btn-sm" value="{{ image.image_id }}"> Comment </button>
        </form>


            <div style="width: 300px; overflow: scroll; height: 100px;">
            {% for comment in comments %}
                {% if comment.image_id == image.image_id %}
                    <h2>{{ comment.username }}</h2>
                    <p>{{ comment.comment }}</p>
                 {% endif %}
            {% endfor %}
            </div>
        </div>
        <br>



<script>
$("#like{{ image.image_id }}").click(function(){
    $.post("{{ url_for('like') }}",
    {
        image_id : "{{ image.image_id }}",
    },
    function(data, status){
        $("#like{{ image.image_id }}").prop('value', data);
    });
});

</script>

    {% endfor %}
</center>
{% endblock %}
