{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
</script>

<script src="js/jquery.endless-scroll.js"></script>

{% block main %}

    <style>
    body{
        background-color: #28262C;
    }

    #wrapper{
        background-color: white;
        border: solid 1px #eee;
        border-radius:10px; /* round corners */
        box-shadow:0px 3px 5px 5px #000; /* add shadow */
    }

    #button{

        float:left;
        margin-right:5px;
    }

    </style>


    <form><input type=button value="Refresh" onClick="window.location.reload()"></form>
    {% for image in images %}
        <div id="wrapper">
            <img src="/static/img/{{ image.path }}" width="500" height="500"> <br>{{ image.description }}</br> <br> {{ image.username}} </br>

            <form action="{{ url_for('homepage') }}" method="post" onsubmit="return value">
                <input name="like" type="hidden" value="1">
                <button id="button" name="like" class="press" ><img src="/static/hart.png" width="50" height="50"></button>
            </form>


            <form action="{{ url_for('homepage') }}" method="post" onsubmit="return value">
                <button id="button" name="comment" class="btnclick btn-sm" value="{{ image.image_id }}"><img src="/static/comment.png" width="50" height="50"></button>
            </form>



            {% for comment in comments %}
                <div style="width: 300px; overflow: auto; overflow-x: hidden; height: 100px;">
                <table>
                <tbody>
                    <tr>
                      <td><b>{{ comment.username }}</b></td>
                      <td>{{ comment.comment }}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
            {% endfor %}
        </div>

        <br>



<script>
$("#like{{ image.image_id }}").click(function(){
    $.post("{{ url_for('like') }}",
    {
        image_id : "{{ image.image_id }}",
    },
    function(data, status){
        $("#like{{ image.image_id }}").prop('value', data);
    });
});

</script>

<script>
$(document).ready(function() {
    $(document).endlessScroll({
        inflowPixels: 300,
        callback: function() {
      var $img = $('#images li:nth-last-child(5)').clone();
      $('#images').append($img);
        }
    });
});
</script>

    {% endfor %}
{% endblock %}


