{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <style>
    body{
        background: url("https://i.imgur.com/R0frjW3.jpg") no-repeat;
        background-size: 100%;
    }
    </style>


    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="alert alert-info">
                <strong>Welcome to tinderest!</strong> Here you can follow other user based on your interests. Don't have an account yet? Go to <a href="{{ url_for('register') }}" class="alert-link">register</a>!
            </div>
            <div class="form-group">
                <input required autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input required class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <button required class="btn btn-default" type="submit">Log In</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
