{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}
<center>

    <style>
    #id{
        margin-left: auto;
        margin-right: auto;
    }

    </style>

    <h2> Post photo </h2>
    <form method="POST" enctype=multipart/form-data action="{{ url_for("post") }}">
        <input type=file class="btn btn-default" name=photo accept=".jpg,.jpeg,.png">
        <br><br>
        <textarea class="form-control" placeholder="Description" name="description" maxlength="1000"></textarea>
        <br><br>
        <div class = "form-group">
            <button class = "btn btn-default" type="submit" > Post</button>
        </div>
    </form>
    <br><br>
    <br><br>
    <center>
    <div id="gif">
    <h2> Post giphy </h2>
    <form method="post" action="{{ url_for("gifsearch") }}" >
        <fieldset>
            </div>
            <div class="form-group">
                <input class="gif" name="searchgif" placeholder="Search for a gif" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        </fieldset>
    </form>
    </div>
    </center>
</center>

{% endblock %}
