{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}


    <form action="{{ url_for('settings') }}" method="post">
        <fieldset>
            <div class="alert alert-info">
                Other people can find you based on their interests via the discover page. Set your tags so people can find you. You can fill in anything you want, but the shorter the better!
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag1" placeholder="Tag 1" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag2" placeholder="Tag 2" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag3" placeholder="Tag 3" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag4" placeholder="Tag 4" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag5" placeholder="Tag 5" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag6" placeholder="Tag 6" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag7" placeholder="Tag 7" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag8" placeholder="Tag 8" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag9" placeholder="Tag 9" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" maxlength="100" name="tag10" placeholder="Tag 10" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
