{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

    <style>
    body{
        background: url("https://i.imgur.com/j7US7if.jpg") no-repeat;
        background-size: 100%;
    }
    </style>


    <form action="{{ url_for('settings') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="tag1" placeholder="Insert up to 10 tags here" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag2" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag3" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag4" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag5" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag6" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag7" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag8" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag9" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="tag10" placeholder="" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
